*{
margin: 0;
padding: 0;

}

.home{
    display: inline-flex;
     flex-direction: row; 
     flex-wrap: wrap;
     height: 110vh;
     
}

.A{
    margin-left: 200px; 
    margin-top: 200px; 
    width: 30%; 
    height: 50vh;
    
}

.C{
    margin-left: 10px;
  
}

.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    height: 90vh;
}

.skills{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    height: 90vh;
  

}

.project{
    display: grid ;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    width: 50%;
    height: 35vh;
    column-gap: 5px;
    width: 100%;
    height: 80vh;
    text-align: center;
    background-color: rgb(28, 42, 97);
    margin-bottom: 0;
}

.D{
    border: 1px solid black;
    height: 30vh;
}

.E{
    display: grid; 
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(7,1fr);
    column-gap: 10px;
    row-gap: 10px; 
    width: 70%;
    height: 5vh; 
    text-align: center;
    
}

.F{
    background-color: #191f36;
    border:1px solid #fffdfd;
    border-radius: 20px; 
    color: aliceblue;
    height: 5vh;
}

.fotter{
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(7,1fr);
    text-align: center;
    width: 100%;
    height: 40vh;
    font-size: 20px;
   background-color: #252e50;
}

.R{
    color: aliceblue;
    font-size: 20px;
}
